# Ignore node modules and caches
node_modules
frontend/node_modules
server/node_modules

# Git & editor
.git
.gitignore
.vscode
.DS_Store

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build outputs
frontend/dist
coverage
