name: CD

# Déclenchement automatique du workflow après succès du workflow CI
on:
  workflow_run:
    workflows: ["CI"]
    types:
      - completed

jobs:
  # Job 1
  build:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest
    steps:

      # etape 1
      - name: checkout
        uses: actions/checkout@v5

      # etape 2
      - name: login
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      # etape 3
      - name: build and push
        id: push
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: ${{ secrets.DOCKER_USERNAME }}/safesecur:latest